body{
    background-color: palegreen;
}


h1{
    text-align: center;
}

ul{
    color: orange;
    font-size: large;
}

.home-image{
    width: 250px;
    border: 3px solid black;
}

.footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 99%;
    }